<div class="container">
  <form novalidate [formGroup] = "feedbackForm" (ngSubmit) = "onSubmit()">
    <p>
      {{feedbackForm.value | json}} {{feedbackForm.status}}
    </p>
    <div class="form-group">
      <input class="form-control" placeholder="First Name" formControlName="firstname" type="text">
      
      <div class="alert alert-secondary" role="alert" 
         *ngIf="feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched">First Name is Required Field:
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Last Name" formControlName="lastname" type="text">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Phone Number" formControlName="phone" type="tel">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Email" formControlName="email" type="email">
    </div>
    <div class="form-group">
      <label>How would you like to be contacted?</label>
      <select class="form-control" placeholder="How to contact?" formControlName="contactType">
        <option *ngFor="let ctype of contactType" [value]="ctype">{{ctype}}</option>
      </select>
    </div>
    <div>
      <textarea class="form-control" placeholder="Provide your Feedback" formControlName="message" rows=12>
      </textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Submit</button>
      </div>
  </form>
</div>